<!DOCTYPE html>
<html lang="en">
<head>
  <!--Titol de la pestanya-->
  <title>Añadir Estudiante Existente</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
      <form class="login100-form validate-form">
        <!--Titol principal-->
        <span class="login100-form-title-small p-b-49">
						Añadir Estudiante Existente a la Asignatura
					</span>
        <!--Form per emplenar els camps-->
        <form [formGroup]="Form">
          <div class="wrap-input100 validate-input m-b-23">
            <span class="label-input100">Id del estudiante:</span>
            <input class="input100" type="text" style="text-indent: 40px" formControlName="id" placeholder="Escribe el id del estudiante">
            <span class="focus-input100" data-symbol="&#xf206;"></span>
          </div>
        </form>
        <pre></pre>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.id">
            <div class="alert alert-danger" *ngIf="Form.get('id').hasError(validation.type) && (Form.get('id').dirty || Form.get('id').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <!--Boto executar la funció de TS-->
        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button (click)="peticioFormId()" [disabled]="Form.invalid" class="login100-form-btn" type="submit">
              Añadir Estudiante con el Id
            </button>
          </div>
        </div>
        <!--Boto per anar a la ruta relativa -->
        <pre></pre>
        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button  routerLink="/api/subject" class="login100-form-btn" type="submit">
              Cancelar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->

</body>
</html>
