<!DOCTYPE html>
<html lang="en">
<head>
  <!--Titol de la pestanya-->
  <title>Lista de Subjects</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-20 p-r-20 p-t-20 p-b-20">
      <p></p>
      <p></p>
      <!--Titol principal-->
      <span class="login100-form-title">
						Lista de Subjects
					</span>
      <p></p>
      <p></p>
      <!--Boto executar la funció de TS-->
      <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
          <div class="login100-form-bgbtn"></div>
          <button (click)="llistaSubjects()" class="login100-form-btn" type="submit">
            Obtener Subjects
          </button>
        </div>
      </div>
      <p></p>
      <p></p>
      <!--Si la variable llista es diferent a Null, mostrem els titols de les columnes-->
      <pre *ngIf="llista" class="list_titles">Nombre de la Asignatura</pre>
      <ul *ngIf="llista" id="menu">
        <!--Per cada element de la llista fem:-->
        <li  class="list_items" *ngFor="let element of llista">
          <!--Mostrem tres camps de cada element-->
          <pre>{{element.name}}     </pre>
          <!--A més afagim dos botons per realitzar accions relacionat amb els elements de la llista-->
          <button *ngIf="llista" type="button" (click)="botoLlista2(element._id)" class="list_btn2 pull-right" id="btnEliminar"> Eliminar Asignatura</button>
          <button *ngIf="llista" type="button" (click)="botoLlista(element._id)" class="list_btn1 pull-right" id="btnInfo"> Obtener información</button>
        </li>
        <li class="no-bullet">
        </li>
      </ul>
      <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
          <div class="login100-form-bgbtn"></div>
          <button (click)="afagirSubject()" class="login100-form-btn" type="submit">
            Añadir Subject
          </button>
        </div>
      </div>
    </div>
  </div>




  <!--===============================================================================================-->
  <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/animsition/js/animsition.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/bootstrap/js/popper.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/daterangepicker/moment.min.js"></script>
  <script src="vendor/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/countdowntime/countdowntime.js"></script>
  <!--===============================================================================================-->
</div>
</body>
</html>


